ion-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

swiper-container {
  // border: 1px dashed white;
  width: 350px;
  min-height: 200px;

  swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
  }
}

ion-card {
  min-width: 360px;
  padding: 10px;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

span.location {
  font-size: 20px;
  font-weight: bold;
}

span.dt {
  font-size: 20px;
  padding-top: 10px;
}

ion-img.icon {
  width: 150px;
  height: 150px;
}

span.desc {
  font-size: 20px;
  padding-bottom: 15px;
  padding-top: 5px;
}

span.sub {
  font-size: 15px;
  padding-bottom: 10px;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  animation: fadeIn 0.3s ease-in-out;
}

.popover-content {
  padding: 10px;
  font-size: 20px;
}

ion-toolbar {
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 30px;
}



