<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Weather Forecast
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    
    <!-- Current Weather Card -->
    <ion-card class="current-weather">
      <span class="current-weather-dt">{{ weatherParam.currentParams.dt | date: 'short' }}</span>
      <ion-img class="current-weather-img" [src]="weatherParam.currentParams.icon" alt="current-weather-icon"></ion-img>
      <span class="current-weather-desc">{{ weatherParam.currentParams.weather[0].description | titlecase }}</span>
      <span class="current-weather-main-temp">{{ weatherParam.currentParams.main.temp }}&deg;</span>
      <span class="current-weather-minmax-temp">
        <span class="current-weather-min-temp"><b>Min:</b> {{ weatherParam.currentParams.main.temp_min }}&deg;</span>
        <span class="current-weather-max-temp"><b> | Max:</b> {{ weatherParam.currentParams.main.temp_max }}&deg;</span>
      </span>
      <span class="current-weather-humidity"><b>Humidity: </b>{{ weatherParam.currentParams.main.humidity }}%</span>
    </ion-card>

    <!-- Hourly Weather Swiper -->
    <swiper-container class="hourly-swiper">
      <swiper-slide *ngFor="let hourlyWeather of weatherParam.hourlyParams">
        <ion-card class="hourly-weather">
          <span class="hourly-weather-dt">{{ hourlyWeather.dt | date: 'short' }}</span>
          <ion-img class="hourly-weather-icon" [src]="hourlyWeather.icon" alt="hourly-weather-icon"></ion-img>
          <span class="hourly-weather-desc">{{ hourlyWeather.weather[0].description | titlecase }}</span>
          <span class="hourly-weather-main-temp">{{ hourlyWeather.main.temp }}&deg;</span>
          <span class="hourly-weather-minmax-temp">
            <span class="hourly-weather-min-temp"><b>Min:</b> {{ hourlyWeather.main.temp_min }}&deg;</span>
            <span class="hourly-weather-max-temp"><b> | Max:</b> {{ hourlyWeather.main.temp_max }}&deg;</span>
            <span class="hourly-weather-wind">
              <span class="hourly-weather-wind-speed"><b>Wind Speed:</b> {{ hourlyWeather.wind.speed }} km/h</span>
              <span class="hourly-weather-wind-deg"><b> | Deg:</b> {{ hourlyWeather.wind.deg }}&deg;</span>
            </span>
            <span class="hourly-weather-humidity"><b>Humidity: </b>{{ hourlyWeather.main.humidity }}%</span>
          </span>
        </ion-card>
      </swiper-slide>
    </swiper-container>

  </div>
</ion-content>
